/* Setting image to the backgroud */
body {
    background-image: url(../images/flowers-g1e4b9be3f_1920.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:100% ;
}

/* Setting font type to the h2 element */
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:rgb(168, 28, 28);
}